@font-face {
font-family: "Jaapokki-Regular";
src: url(../fonts/Jaapokki-Regular.otf);
}

header {
	background-color: darkblue;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 50px;
	z-index: 1;
}

body {
	overflow-x: hidden;
}

footer {
	position: absolute;
	bottom: -800px;
	left: 0px;
	right: 0px;
	height: 50px;
	background-color: darkgray;
	z-index: 1;
}


/* Navigation */

#nav {
	position: fixed;
	left: 1555px;
	top: 13px;
}

#nav-home {
	font-size: 20px;
	text-decoration: none;
	color: lightgray;
}

#nav-places {
	font-size: 20px;
	text-decoration: none;
	color: lightgray;
}

#nav-about {
	font-size: 20px;
	text-decoration: none;
	color: lightgray;
}

#nav-contact {
	font-size: 20px;
	text-decoration: none;
	color: lightgray;
}

#nav-home:hover {
	text-decoration: none;
	color: white;
}

#nav-places:hover {
	text-decoration: none;
	color: white;
}

#nav-about:hover {
	text-decoration: none;
	color: white;
}

#nav-contact:hover {
	text-decoration: none;
	color: white;
}

#header-title-text {
	font-size: 27px;
	position: fixed;
	left: 50px;
	top: 10px;
	color: lightgray;
	text-decoration: none;
}

#header-title-text:hover {
	color: white;
}

#header-image {
	height: 30px;
	width: 30px;
	position: fixed;
	top: 10px;
	left: 10px;
}


/* Home */

#frontpage-background {
	position: fixed;
	height: 887px;
	width: 1920px;
	top: 50px;
	left: 0px;
	z-index: -1;
}

#title-home {
	position: relative;
	font-size: 50px;
	top: 200px;
	color: #003b66;
	z-index: 0;
	font-family: "Jaapokki-Regular";
}

#text-home {
	font-size: 30px;
	color: #00bbff;
	position: relative;
	top: 250px;
	z-index: 0;
	font-family: "Jaapokki-Regular";
}


/* Updates */

#updates {
	position: absolute;
	height: 400px;
}

#title-figure {
	position: absolute;
	width: 27px;
	height: 17px;
	top: 700px;
	left: 100px;
	color: #256ad9;
}

#title-updates {
	position: absolute;
	left: 100px;
	top: 690px;
	font-size: 40px;
	font-weight: bolder;
	color: #256ad9;
}

#updates-newyork-image-clickable {
	height: 200px;
	width: 300px;
	position: relative;
	top: 800px;
	left: 150px;
	border: groove;
	border-width: 5px;
	border-color: black;
}